<title>About</title><br>
<div class="container">
    <h1><strong>Stock Market App</strong></h1><br>
</div>
<h5>This stock market web app allows the user to enter the NASDAQ symbols of various companies and produces the status of their stocks!</h5>
<h5>Find the link to the list of all NASDAQ symbols below and check out my website.</h5><br>
<p>- by Sanat Bhalla</p><br><br><br>

<h7>NASDAQ symbols : <div id="az">
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=A" title="A Schulman to AXT">A</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=B" title="B.O.S Better Online Solutions to Business Objects">B</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=C" title="C&amp;f Financial to Cytyc">C</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=D" title="D&amp;e Communications to Dynavax Technologies">D</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=E" title="E Com Ventures to Ezcorp">E</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=F" title="F5 Networks to Fx Energy">F</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=G" title="G&amp;K Services to Gyrodyne Company of America">G</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=H" title="H&amp;E Equipment Services to Hythiam">H</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=I" title="I-cable Communications to Ixys">I</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=J" title="J &amp; J Snack Foods to Jupitermedia">J</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=K" title="K-fed Bancorp to Kyphon Incorporated.">K</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=L" title="L.b. Foster Company to Luna Innovations Incorporated">L</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=M" title="MBT Financial Corp to Myriad Genetics">M</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=N" title="Nabi Biopharmaceuticals to Nymox Pharmaceutical">N</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=O" title="O.I. to Oyo Geospace">O</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=P" title="P&amp;F Industries to Pyramid Breweries">P</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=Q" title="Q.E.P. to Quovadx Incorporated">Q</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=R" title="Rackable Systems to Ryanair Holdings Plc">R</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=S" title="S&amp;t Bancorp to Systems Xcellence Incorporated">S</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=T" title="T-3 Energy Services to Twin Disc, Incorporated">T</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=U" title="U.S. Auto Parts Network to Utstarcom">U</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=V" title="VA Software to Vyyo">V</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=W" title="W Holding Company Incorporated to Wynn Resorts">W</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=X" title="X-rite, Incorporated to Xyratex Ltd">X</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=Y" title="Yadkin Valley Financial to Yrc Worldwide">Y</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=Z" title="Zanett Incorporated to Zymogenetics">Z</a>
<a href="https://www.advfn.com/nasdaq/nasdaq.asp?companies=0" title="1-800 Contacts to 8*8">+</a>
</div></h7><br>
<h7><a href="https://sanatbhalla.me">My website</a></h7>

